<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Add the link to the CSS stylesheet here -->
    <!-- Hint: the link is relative to the public folder -->
    <title>My Weather App</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>

  <body>
    <header>
      <h1>☀️ Weather Checker</h1>
    </header>
    <main class="container">